@import '../../styles.scss';

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $custom-accent;
    color: white;
    padding: 1rem 0 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;


    .footer-right {
        margin-right: 1rem;

        a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;

        .linkedin-icon {
            font-size: 2rem;
          }
        }
    }
}