<section class="about-me">
    <h1>Acerca de mí</h1>
    <p>
      Soy un profesional polifacético con formación en estudios de Asia Oriental y japonés, así como un máster en Desarrollo de Sitios y Aplicaciones Web. Mi experiencia abarca desde la gestión administrativa y la asistencia en proyectos, hasta la supervisión de localizaciones y eventos en el sector turístico.
      Tengo habilidades en UI/UX, HTML5, JavaScript y Angular, y soy capaz de comunicarme eficazmente en inglés y japonés.
      Busco enfrentar nuevos desafíos y aportar valor en diversos campos profesionales.
    </p>
</section>
