<section class="about-me">
    <h1>Acerca de mí</h1>
    <p>
    Desarrollador Frontend especializado en Angular y TypeScript con experiencia en la creación de aplicaciones web dinámicas y optimizadas.

    Durante mi máster en Desarrollo de Aplicaciones Web, diseñé y desarrollé una aplicación desde cero con Angular, Material Design y principios de desarrollo ágil, priorizando una experiencia de usuario fluida e intuitiva.
      
    Me apasiona crear interfaces modernas, escalables y accesibles, aplicando buenas prácticas en HTML5, CSS3, JavaScript, TypeScript y Git. Además, tengo habilidades lingüísticas avanzadas en inglés y japonés, lo que me permite trabajar en entornos internacionales.
      
    Busco oportunidades para crecer en un equipo que valore la creatividad, la colaboración y el aprendizaje continuo. ¡Si tienes una oportunidad interesante, estaré encantado de conectar y hablar más!
    </p>
</section>
