.about-me {
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
  
    h1 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  
    p {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
}