.main-content {
    margin-top: 64px; // espaciado con el header
    padding: 1rem;    // espaciado interno
  /* El 70% de la anchura del viewport */
    width: clamp(280px, 70%, 1200px);
    /* Centra horizontalmente */
    margin: 0 auto;

    /* Opcional: algo de padding vertical */
    padding: 2rem 0;

    /* Ajusta la tipografía o color de fondo general, si deseas */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }