<table mat-table [dataSource]="languages" class="mat-elevation-z8">

    <!-- Columna de Idioma -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Idioma </th>
      <td mat-cell *matCellDef="let element">
        {{ element.language }}
      </td>
    </ng-container>
  
    <!-- Columna de Certificación -->
    <ng-container matColumnDef="certification">
      <th mat-header-cell *matHeaderCellDef> Certificación </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.certification; else noCert">
          <a [href]="element.certification.link" target="_blank">
            <img
              [src]="element.certification.logo"
              [alt]="element.certification.name"
              class="cert-logo"
            />
          </a>
        </ng-container>
        <ng-template #noCert>No disponible</ng-template>
      </td>
    </ng-container>
  
    <!-- Columna de Puntuación -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Puntuación </th>
      <td mat-cell *matCellDef="let element">
        {{ element.score }}
      </td>
    </ng-container>
  
    <!-- Columna de Nivel -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Nivel </th>
      <td mat-cell *matCellDef="let element">
        {{ element.level }}
      </td>
    </ng-container>
  
    <!-- Fila de encabezado -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
    <!-- Fila de datos -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
