// Definir los colores básicos
$custom-primary: #82c6fe; // Azul celeste
$custom-accent: #1e88e5;  // Azul fuerte
$custom-warn: #e53935;    // Rojo

// Exportar las variables
@export {
  $custom-primary: $custom-primary;
  $custom-accent: $custom-accent;
  $custom-warn: $custom-warn;
}

